.detailed-container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: $primaryColour;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-wrapper {
  @include flexCenter(column);
  justify-content: space-evenly;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  border: 2px solid $primaryColour;
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  @include respond-to("medium") {
    width: 90vw;
    height: 90vh;
  }
}
.detailed-info {
  padding: 2rem;
  @include flexCenter(column);
  justify-content: space-around;
  width: inherit;
  height: inherit;
}

.detailed-header {
  text-align: center;

  h2 {
    color: red;
    letter-spacing: 1rem;
    font-family: $regularFont;
  }
}

.detailed-sub-header > * {
  border: 1px solid blue;
  @include flexCenter(row);
  justify-content: space-around;
  font-family: $regularFont;
  color: red;
}

.specific-info {
}
