// Colours
$primaryColour: #f1f1f1;
$secondaryColour: #8b8b8b;
$starWarsColour: #f2dc1f;

// Text

$primaryText-colour: #444;

// Nav
$nav-bg: #03071e;
$nav-gradient: linear-gradient(147deg, #000000 0%, #2c3e50 74%);

// Buttons
$buttonPrimary: #6f00ff;
