.content-section {
  margin-top: 1rem;
  width: 100vw;
  min-height: 30rem;
  @include flexCenter(row);
  justify-content: space-evenly;
  @include respond-to("medium") {
    flex-direction: column;
  }
}

.card-list {
  width: inherit;
  min-height: inherit;
  @include flexCenter(row);
  justify-content: space-evenly;
}

.card {
  @include flexCenter(row);
  justify-content: space-around;
  background-color: $buttonPrimary;
  color: white;
  width: inherit;
  border-radius: 1rem;
  height: 8rem;
  margin: 0.2rem 0;
  border: 1px black solid;
  @include respond-to("medium") {
    flex-direction: row;
    width: 20rem;
    margin: 1rem 3rem;
  }
}
