.content-section {
  margin-top: 2.2rem;
  width: 100vw;
  min-height: 30rem;
  @include flexCenter(row);
  justify-content: space-evenly;
  @include respond-to("medium") {
    flex-direction: column;
  }
}

.card-list {
  width: inherit;
  min-height: inherit;
  @include flexCenter(row);
  justify-content: space-evenly;
}

.card {
  @include flexCenter(row);
  justify-content: flex-start;
  background-color: #03071e;
  color: $primaryColour;
  width: 100vw;
  border-radius: 1rem;
  height: 8rem;
  margin: 0.2rem 0;
  border: 1px white solid;
  position: relative;
  transition: color 0.3s ease-in-out;
  @include respond-to("medium") {
    flex-direction: column;
    justify-content: space-evenly;
    width: 30rem;
    height: 15rem;
    margin: 1rem 3rem;
  }
  &:hover {
    color: #f2dc1f;
    .card-icon {
      background-color: #f2dc1f;
    }
  }
  & > * {
    pointer-events: none;
  }
}
.card-icon {
  transition: background-color 0.3s ease-out;
  margin: 0 3rem;
  border-radius: 50%;
  padding: 1.8rem;
  color: black;
  background-color: $primaryColour;
  font-size: 2rem;
}
